.App {
  flex: 1 0 auto;
}

.custom-nav {
  flex-shrink: 0;
  /* background-color: rgba(0, 0, 0, 0.8);; */
  /* background-color: #2C3531;    */
}

.navbar-align {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to bottom right, #116466, #2c3531);
  border-bottom: 0.5px solid #116466;
  justify-content: center;
}

.main-app {
  border: 0px solid black;
  color: #ffcb9a;
  margin: 0 auto;
  padding: 20px;
  width: 33vw;
}

.dashboard {
  margin: 0 auto;
  color: #ffcb9a;
  padding-bottom: 100px;
  text-align: center;
}

.admin-tables {
  padding: 10px;
  color: #ffcb9a;
  padding-bottom: 100px;
}

.hide-text {
  -webkit-text-security: circle;
}

.app-home {
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  /* background-image: linear-gradient(to bottom right, #116466, #2c3531); */
  background-color: rgba(17, 100, 102, 0.6);
  border-color: #116466;
  color: #d1e8e2;
  width: 50vw;
}

.app-home > img {
  margin: 0 auto;
  width: 18vw;
  filter: drop-shadow(0 0 0.5rem #d9b08c);
}

a:link {
  color: #d1e8e2;
}
a:visited {
  color: #d1e8e2;
}
a:hover {
  color: #ffcb9a;
  text-decoration: none;
}

a:active {
  color: #116466;
}

ul.dropdown-menu {
  padding: 0px 0px;
}

.dropdown-menu {
  border-radius: 8px;
  background-image: linear-gradient(#116466, #116466, #116466, #116466);
  filter: drop-shadow(0 0 0.25rem #2c3531);
}

.navbar-dark .navbar-nav .nav-link {
  color: #d1e8e2;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffcb9a;
}

.navbrand-glow-border {
  filter: drop-shadow(0 0 0.5rem #d9b08c);
}

.controls-space {
  padding: 20px;
  color: black;
}

.form-container {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 1px #116466 solid;
  background-image: linear-gradient(to bottom right, #116466, #2c3531);
  border-radius: 8px;
  filter: drop-shadow(0 0 0.5rem #d1e8e2);
  padding: 20px;
  width: 75vw;
  color: #ffcb9a;
}

.submitbtn-formgroup {
  text-align: right;
}

.submit-btn {
  /* width: 20vw; */
  color: #116466;
}

.hands {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.hands-cards {
  text-align: center;
  margin: 0px 7px 30px 7px;
  padding: 10px 0px 0px 0px;
  background-image: linear-gradient(
    to top left,
    #d1e8e2,
    #feffff,
    #ffffff,
    #def2f1,
    #d1e8e2
  );
  filter: drop-shadow(0 0 0.5rem #2c3531);
  color: #116466;
  width: 16vw;
}

.hands-img {
  width: 7vw;
  margin: 0 auto;
}

.border-gradient {
  border: 2px solid;
  border-radius: 10px;
  border-image-slice: 1;
  border-width: 2px;
}
.border-gradient-light {
  border-image-source: linear-gradient(to bottom left, #feffff, #d1e8e2);
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}

.deck-cards {
  text-align: center;
  margin: 0px 3px 15px 3px;
  padding: 10px 0px 0px 0px;
  border-radius: 6px;
  border: 1px solid #feffff;
  background-image: linear-gradient(
    to top left,
    #d1e8e2,
    #feffff,
    #ffffff,
    #def2f1,
    #d1e8e2
  );
  filter: drop-shadow(0 0 0.5rem #116466);
  color: #116466;
  width: 7vw;
}

.cards-img {
  width: 3vw;
  margin: 0 auto;
}

.hands-number {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

.hands-body {
  padding: 2px;
}

.card-face {
  color: #116466;
  font-size: 8vw;
  text-shadow: -2px 0 3px #d1e8e2, 2px 0 3px #def2f1, 0 2px 3px #def2f1,
    0 -2px 3px #d1e8e2;
  /* text-shadow: 1px 1px 2px #feffff; */
}

.card-face-small {
  color: #116466;
  font-size: 18px;
  /* text-shadow: 0 0 1px #2c3531, 0 0 3px #116466; */
  text-shadow: 1px 1px 2px #116466;
}

.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8vh;
  padding-top: 2px;
  font-size: calc(10px + 0.2vh);
  font-weight: bold;
  border-bottom: 1px solid #2c3531;
  background-image: linear-gradient(to bottom right, #d1e8e2, #116466);
  color: #116466;
}

.card-glow {
  /* text-shadow: -3px 0 3px #d1e8e2, 3px 0 3px #def2f1, 0 3px 3px #def2f1,
    0 -3px 3px #d1e8e2; */
  filter: drop-shadow(0 0 0.5rem #feffff);
}

.img-glow {
  filter: drop-shadow(0 0 0.2rem #d9b08c);
}

.jklogo-glow-border {
  filter: drop-shadow(0 0 0.2rem #116466);
}

/* 
#footer a:link {
  color: #2c3531;
}
#footer a:visited {
  color: #2c3531;
}
#footer a:hover {
  color: #116466;
  text-decoration: none;
}

#footer a:active {
  color: #d9b08c;
} */
