.App {
  flex: 1 0 auto;
}

.custom-nav { 
  flex-shrink: 0;
  /* background-color: rgba(0, 0, 0, 0.8);; */
  /* background-color: #2C3531;    */
}

.navbar-align {
  display: flex; 
  width: 100%;
  background-image: linear-gradient(to bottom right, #116466, #2c3531);
  border-bottom: 0.5px solid #116466;
  justify-content: center;
}

.main-app {
  border: 0px solid black;
  color: #ffcb9a;
  margin: 0 auto;
  padding: 20px;
  width: 33vw;
}

.dashboard {
  margin: 0 auto;
  color: #ffcb9a;
  padding-bottom: 100px;
  text-align: center;
}

.admin-tables {
  padding: 10px;
  color: #ffcb9a;
  padding-bottom: 100px;
}

.hide-text {
  -webkit-text-security: circle;
}

.app-home {
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  /* background-image: linear-gradient(to bottom right, #116466, #2c3531); */
  background-color: rgba(17, 100, 102, 0.6);
  border-color: #116466;
  color: #D1E8E2;
  width: 50vw;
}

.app-home > img {
  margin: 0 auto;
  width: 18vw;
  filter: drop-shadow(0 0 0.5rem #d9b08c);
}

a:link {
  color: #d1e8e2;
}
a:visited {
  color: #d1e8e2;
}
a:hover {
  color: #ffcb9a;
  text-decoration: none;
}

a:active {
  color: #116466;
}

ul.dropdown-menu {
  padding: 0px 0px;
}

.dropdown-menu {
  border-radius: 8px;
  background-image: linear-gradient(#116466, #116466, #116466, #116466);
  filter: drop-shadow(0 0 0.25rem #2c3531);
}

.navbar-dark .navbar-nav .nav-link {
  color: #d1e8e2;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffcb9a;
}

.navbrand-glow-border {
  filter: drop-shadow(0 0 0.5rem #d9b08c);
}

.controls-space {
  padding: 20px;
}

.form-container {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 1px #116466 solid;
  background-image: linear-gradient(to bottom right, #116466, #2c3531);
  border-radius: 8px;
  filter: drop-shadow(0 0 0.5rem #d1e8e2);
  padding: 20px;
  width: 75vw;
  color: #ffcb9a;
}

.submitbtn-formgroup {
  text-align: right;
}

.submit-btn {
  /* width: 20vw; */
  color: #116466;
}

.hands {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.hands-cards {
  text-align: center;
  margin: 0px 5px 30px 5px;
  padding: 10px 0px 0px 0px;
  border-radius: 12px;
  border: 1px solid #feffff;
  background-image: linear-gradient(
    to top left,
    #d1e8e2,
    #feffff,
    #ffffff,
    #def2f1,
    #d1e8e2
  );
  filter: drop-shadow(0 0 0.5rem #116466);
  color: #116466;
  width: 16vw;
}

.hands-img {
  width: 8vw;
  margin: 0 auto;
}

.hands-number {
  font-size: x-small;
}

.card-face {
  color: #116466;
  font-size: 34px;
  /* text-shadow: 0 0 1px #2c3531, 0 0 3px #116466; */
  text-shadow: 1px 1px 2px #116466;
}

.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8vh;
  padding-top: 2px;
  font-size: calc(10px + 0.2vh);
  font-weight: bold;
  border-bottom: 1px solid #2c3531;
  background-image: linear-gradient(to bottom right, #d1e8e2, #116466);
  color: #116466;
}

.card-glow {
  filter: drop-shadow(0 0 0.2rem #116466);
}

.jklogo-glow-border {
  filter: drop-shadow(0 0 0.2rem #116466);
}

/* 
#footer a:link {
  color: #2c3531;
}
#footer a:visited {
  color: #2c3531;
}
#footer a:hover {
  color: #116466;
  text-decoration: none;
}

#footer a:active {
  color: #d9b08c;
} */
